<h1>Amazing todo app!</h1>
<h2>Track your tasks!</h2>
<hr>

<h4>Add New Task:</h4>
<form #addForm="ngForm" (submit)="handleSubmit(addForm)">
    <input type="text" ngModel name="task" id="">
    <button type="submit">AddTask</button>
</form>

<div>
    <label for="search">
        Search:
        <input type="text" #SearchTB id="searchTB" (keyup)="handleSearch(SearchTB.value)">
    </label>
</div>


<hr>
<h3>Your tasks: <button (click)="handleSave()" >Save Changes
</button></h3>
<!-- <ul>
    <li *ngFor="let t of tasks" >
        {{t}}
        <button (click)="handleRemove(t)" >Remove</button>
    </li>
</ul> -->

<table class="table table-striped">
    <thead><tr>
        <td>Tasks&nbsp;&nbsp;
            <span><button #AscBtn (click)="handleSort(SortEnum.Ascending,AscBtn)">&uarr;</button><!--Up btn-->
            <button #DescBtn (click)="handleSort(SortEnum.Descending,DescBtn)">&darr;</button></span><!--down btn-->
            </td>
        <td>Ops</td>
    </tr></thead>
    <tbody>
        <tr *ngFor="let t of tasks" [hidden]="!t.isVisible">
            <!-- tasks -->
            <td>
                <span *ngIf="!t.isUpdated" >{{t.name}}</span>
                <span *ngIf="t.isUpdated">
                    <input type="text" name="newTask" #newTask value="{{t.name}}" placeholder="{{t.name}}">
                    <button type="submit" (click)="handleUpdating(newTask.value,t)">Update</button>
                </span>
            </td>
            <!-- buttons -->
            <td>
                <button (click)="handleRemove(t)" >Remove</button>
                <button (click)="handleUpdate(t)" >Update</button>
            </td>
        </tr>
    </tbody>
</table>
